.TextBox {
  padding: 0.5rem;
}

.TextBox textarea {
  width: 40em;
  resize: none;
  font-size: 1rem;
}

.pre-edit-text-off-the-spot {
  border: 1px solid #ccc;
  width: 40em;
  font-size: 1rem;
  line-height: 1rem;;
}
